p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    margin: 0;
    transition: 1s;
    float: left;
    }
    
    a{
        color: black;
        text-decoration-line: none;
        transition: 1s
    }
    
    body{
        background-color: azure;
    }
    
    .hes{
        width: 100%;
        height: 80px;
        margin: 0px;
        border-radius: 15px;
        background-color: rgb(0, 162, 255);
    }
    
    .logo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    float: left;
    }
    
    .logoru{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    float: left;
    color: rgb(230, 62, 62);
    }
    
    h1{
        margin: 0px;
    }
    
    h2{
        margin: 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    h3{
        margin: 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .mainlogo{
        float: left;
        padding-top: 1.2% ;
        padding-left: 4% ;
        margin-right: 100px;
    }
    
    .menu{
        
        padding-top: 20px;
    }
    
    .point{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        float: left;
        margin-left: 30px;
        font-weight: 500;
        padding-top: 10px;
    }
    
    .point:hover{
        color: rgb(230, 62, 62);
        font-size: larger;
        transition:  0.6s;
        padding-top: 7px;
    }

    .news{
    
        width: 100%;
        height: 550px;   
        margin-top: 40px;
    }
    
    .newtxt:hover{
        font-size: large;
        color: rgb(14, 13, 13);
        transition: 1s;
        margin-top: 5px ;
    }
    
    
    .minititle1{
        margin-left:48% ;
    }

    .minititle2{
        margin-left:42% ;
    }

    .minititle3{
        margin-left:45% ;
    }
    .minititle4{
        margin-left:43% ;
    }
    
    
    .newicon{
        width: 100px;
        float: left;
        
        padding-right: 20px;
    }
    
    .new{
        float: left;
        width: 400px;
        height: 100px;
        margin-left: 50px;
        padding-top: 80px;
        transition: 1s;
    }
    
    .newtxt:hover{
        margin-top: 5px;
        margin-left: 3px;
        transition: 1s;
    }
    
    .mnt{
        padding-left: 190px;
    }
    .info{
        margin-left: 60px;
    }

    .point2{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 0px;
        font-weight: 500;
        padding-top: 100px;
        font-size: x-large;
            }
            .point2:hover{
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                margin-left: 0px;
                font-weight: 500;
                font-size: xx-large;
                color:  rgb(0, 162, 255) ;
                    }

            footer{
                width: 100%;
                height: 60px;
                background-color: rgb(0, 162, 255);
                border-radius: 15px;
                transition: 1s;
                margin-top: 130px;
            }
            footer:hover{
                margin-top: 30px;
                background-color: rgb(235, 235, 235);
                transition: 1s;
                margin-top: 110px;
            }
            
            .fotC{
                margin-top: 35px;
                margin-left: 500px;
            }